body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

 }

header, footer {
    background: #1F2A37;
    color: white;
    padding: 8px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    font-family: 'hero new', sans-serif;
}

footer {
    text-align: center;
    font-weight: 100;
    font-size: smaller;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 64px;

}

.content-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.content-two {
    background-color: #E5E7EB;
    padding: 10% 10% 10% 20%;
}

.content-two .quote {
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
}

.content-two .author {
    font-size: small;
    font-weight: bold;

    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
}

.content-three {
    padding: 10%;
}

.box {
    display: flex;
    background-color: #3B82F6;
    padding: 5%;
    border-radius: 8px;
    justify-content: space-between;

}
.text{ 
    color: white;
    font-size: large;
}
.small-text {
    display: flex;
    font-size: small;
    font-weight: 100;
}
.box button {
    border-style: solid;
    border-color: white;
}
.content-one .info {
    font-size: 32px;
    font-weight: bold;
}

.tile-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: space-between;
    gap: 32px;
}

.tile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.tile img {
    border-style: solid;
    border-color:#3B82F6;
    border-radius: 8px;
    width: 100px;
    margin-bottom: 8px;
}

.tile .label {
    text-align: center;
    font-size: 12px;
    max-width: 100px;
}

.logo {
    font-size: larger;
    font-weight: bolder;
}

ul{
    display: flex;
    gap: 16px;
    padding: 0;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: smaller;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 8px;

}

.left, .right {

}

button {
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
}