body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

 }

header {
    background: #1F2A37;
    color: white;
    padding: 8px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 64px;

}

.content-one {
    display: flex;
    flex-direction: column;

}

.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.tile {
    
}

.logo {
    font-size: larger;
    font-weight: bolder;
}

ul{
    display: flex;
    gap: 16px;
    padding: 0;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: smaller;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 8px;

}

.left, .right {

}

button {
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
}